<div id="login" class="widget container">
    <form ng-hide="characters || successful">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" ng-model="form.account">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" ng-model="form.password">
        </div>
        <div class="form-group">
            <button class="primary block" ng-click="login()">Login</button>
        </div>
    </form>

    <div ng-show="characters && !successful">
        <div class="list-group">
            <a href="#" class="list-group-item"
               ng-repeat="character in characters"
               ng-class="{ active: selected.id == character.id }"
               ng-click="select(character)">
                {{ character.name }}
            </a>
        </div>

        <button class="primary block" ng-click="submitChar()">Select Character</button>
    </div>

    <div ng-show="characters && successful">
        <h1 class="center">Login Succeeded!</h1>
    </div>
</div>
